*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'leto',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    
}